.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
   }
  .truncated {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .truncatedname {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    
    text-align: center;
    color: black;
}

  