<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
          <a class="navbar-brand" routerLink="home">ABC Healthcare</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
   
          <div *ngIf="adminLoggedIn()" class="text-end">
              <span>Welcome Admin</span>
              <a routerLink='/home' (click)="logout()" id="logout" class="btn btn-outline-secondary">Logout</a>
          </div>
          <div *ngIf="userLoggedIn()">
            
                    
                    <div class="text-end">
                        <span>Welcome {{userName}}</span>
                        <a routerLink='/home' (click)="logout()" id="logout" class="btn btn-outline-secondary">Logout</a>
                    </div>
            

          </div>
         
          
              <div *ngIf="!userLoggedIn() && !adminLoggedIn()" class="text-end">
                  <div class="text-end">
                      <a  routerLink='/login' id="Login" class="btn btn-success- m-2">Login</a>
                      <a  routerLink='/register' id="Register" class="btn btn-primary">Register</a>
                  </div>
              </div>

          
        </div>
  </nav>
</header>
<router-outlet></router-outlet>